/* Resources */

.content {
  background: linear-gradient(180deg, #2bb885 2%, #fff 4%);
}

.wrapper {
  width: 85%;
  margin: 0 auto;
}

.section-heading {
  font-size: 3rem;
  font-family: Rasa;
  font-weight: normal;
  margin: 0 auto 4rem;
  padding-top: 21px;
  text-align: center;
  color: #fff;
}

.article-heading {
  font-size: 2rem;
  font-family: Rasa;
}

.loop_list {
  font-size: 1.2rem;
  line-height: 1.8;
  color: #ec1515;
}

p {
  line-height: 1.5;
}

footer {
  text-align: center;
  padding: 1.5rem 0;
  margin-top: 1rem;
  background-color: #2bb885;
}

/* AlignInvest */

.img-container {
  margin: 0 auto;
  text-align: center;
  max-width: 600px;
}

@media (min-width: 900px) {
  .section-heading {
    font-size: 4rem;
    color: #000;
  }

  .section_spacer {
    display: flex;
    flex-wrap: wrap;
  }

  .section_spacer section {
    margin: 0 10px;
    flex: 1;
  }

  .section_spacer section:nth-of-type(3) {
    flex: 2;
  }
}
